body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #222222;
	color: #fff;
}
.container {
	width: 1200px;
	min-height: 1000px;
	margin: 0 auto; /* top and bottom, right and left */
	text-align: left; /* top, right, bottom, left */
	padding-top: 0em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	font-size: large;
}

.column4 {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.float{
	position:fixed;
	width:120px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(51, 255, 0);
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.my-float{
	margin-top:50px;
}

th.afhq {
	width: 200px;  
}

a:link {
	color: #4488ff;
	text-decoration: underline;
}
a:active {
	color: #4488ff;
	text-decoration: underline;
}
a:visited {
	color: #4488ff;
	text-decoration: underline;
}
a:hover {
	color: #ff0000;
	text-decoration: none;
}
.reference {
	font-size: 80%;
}
.emph {
	color: #B1FF00;
}
